
html {
    font-family: "IGM Plex Sans Condensed", serif;
    font-size: 12px;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #ffffff;

}

header h1 {
    width: 100%;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4.5rem;
    padding: .5rem;
    flex-grow: 1;
    background-color: #ffffff;
    text-align: center;
    padding-top: 2rem;

    
}

header ul {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content: center;
    margin-right: 5rem;
   

}

header ul li {
    padding: .5rem 15rem;
    list-style-type: none;
    font-size: 2rem;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 300;
    font-style: normal;
    
}

header ul li a {
    text-decoration: underline;
    color: black;
}


main {
    margin-top: 25rem;
}