
html {
    font-family: "IGM Plex Sans Condensed", serif;
    font-size: 12px;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 1rem;

}

header h1 {
    width: 100%;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4.5rem;
    padding: .5rem;
    flex-grow: 1;
    background-color: #ffffff;
    text-align: center;
    padding-top: 2rem;

    
}

header ul {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    justify-content: center;
    margin-right: 5rem;
   

}

header ul li {
    padding: .5rem 15rem;
    list-style-type: none;
    font-size: 2rem;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 300;
    font-style: normal;
    
}

header ul li a {
    text-decoration: underline;
    color: black;
}


main {
    margin-top: 25rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.workshop {
    background-image: url("images/bg-mission.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    margin-bottom: 15rem;
    padding-bottom: 15rem;
    
}

.workshop h2 {
    width: 100%;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
}

.workshop h3 {
    width: 100%;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 0;
}

.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
   
}

.portfolio h2 {
    width: 100%;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    margin-top: 1rem;
}

.portfolio h3 {
    width: 100%;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;
    background-color: #FFFFFF;
    text-align: center;
    margin-top: 0;
    padding-top: 1rem;

}

.portfolio_image_container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2rem 1rem;
    height: 30rem;
    justify-content: space-around;
    padding-top: 1rem;
}



.port_img_1_container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.port_img_1_container img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.port_img_1_container h5 {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
}

.port_img_2_container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.port_img_2_container img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.port_img_2_container h5 {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
}

.port_img_3_container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.port_img_3_container img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    object-position: 10% 70%;
}

.port_img_3_container h5 {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
}

.portfolio_image_container2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2rem 1rem;
    height: 30rem;
    justify-content: space-around;
    padding-top: 1rem;
}

.port_img_4_container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.port_img_4_container img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    object-position: 10% 30%;
}

.port_img_4_container h5 {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
}

.port_img_5_container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.port_img_5_container img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    object-position: top;
}

.port_img_5_container h5 {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 40rem;
    padding-top: 10rem;
    margin-top: 5em;
}

.team h2 {
    width: 100%;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.team_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("images/bg-team.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 5rem;


}


.team_cont_1 {
    display: flex;
    flex-direction: column;
    width: 20%

}

.team_cont_1 img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.team_cont_1 h5 {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    margin-bottom: 0;
}

.team_cont_1 p {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    background-color: #FFFFFF;
    margin-top: 0;
}

.team_cont_2 {
    display: flex;
    flex-direction: column;
    width: 20%

}

.team_cont_2 img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.team_cont_2 h5 {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    margin-bottom: 0;
}

.team_cont_2 p {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    background-color: #FFFFFF;
    margin-top: 0;
}

.team_cont_3 {
    display: flex;
    flex-direction: column;
    width: 20%

}

.team_cont_3 img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
}

.team_cont_3 h5 {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    margin-bottom: 0;
}

.team_cont_3 p {
    width: 100%;
    text-align: center;
    font-family: "IBM Plex Sans Condensed", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    background-color: #FFFFFF;
    margin-top: 0;
}